.myCustomCell {
  font-size: 14px;
  color: #333333;
}

.eventRows {
  background-color: rgba(238, 238, 238, 0.322);
}

.totalScoreRedCell {
  color: red;
}

.totalScoreYellowCell {
  color: yellow;
}

.totalScoreBlueCell {
  color: blue;
}

.totalScoreGreenCell {
  color: green;
}
